.parent_container{
    font-family: Inter;
    width: 100%;
    overflow: hidden;

  }




.heading_container{
    margin-left: 48px;
    margin-top: 20px;
    box-shadow: 0 15px 30px #7B7B7B29;
    height: 50px;
}
.heading_container h1{
    display: inline; font-size:34px
} 
/* .card input:checked  {
    background-color: green;
} */
input[type=checkbox] {
    accent-color: #C2C2C2;
    color-scheme: white;
  }
.card input{
    color: #C2C2C2;
}
.card_container{
    display:flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    /* justify-content:space-around; */
    /* gap:10px */
    margin: 20px 20px 20px 20px ;
    /* row-gap: 30px; */
   
}
.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    /* opacity: 1; */
    color: #858585;
  }
  /* .close:hover {
    opacity: 1;
  } */
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #858585;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
.blackout{
    width: 100%;
    height: 1024px;
    position:absolute;
    top:0;
    left: 0;
    background-color: black;
    opacity: 0.8;
}
.strikethrough{
  font-size: large;
}
input[type=checkbox]:checked+label.strikethrough {
    text-decoration: line-through;
    color: grey;
  }
.card{
    border:solid 2px #67676729;
    width: 313px;
    height: 313px;
    margin-bottom: 20px;
    /* display: block; */
}
.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    
  }
.card1{
    /* margin-left: 30px; */
    position:relative;
}

.card2{
    position:relative;
    margin-left: 1%;
}

.card3{
    margin-left: 1%;
    position:relative;
    margin-right: 30%;
}
.card4{
    /* margin-left: 30px; */
    position:relative;
}
.card5{
    margin-left: 1%;
    position:relative;
}
.card6{
    width:398px;
    align-items: start;
    text-align: center
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

.card6_container{
  display:flex;
  justify-content: center; 
  flex-direction: column; 
  align-items: center;
}
.card:checked + span{
    text-decoration:line-through
  }

input[type=checkbox]:checked + span.card{
    text-decoration: line-through;
  }
a {
    text-decoration: none;
}  

p.card_text_heading{
    font:  21px  Inter;
    color: #00A5EC;
    font-weight: bold;
}

.add_new_task{
  font: normal 22px Inter;
  letter-spacing: 0px;
  color: #424242; 
  display: inline;
}

.add_new_task_container{
  margin-left: 80%; 
  /* right: 0%; */
}

.popup_card{
  opacity: 100;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  left: 500px;
  border: 1px solid #EDEDED;
  width: 366px;
  height: 200px;
  font-family: Inter;
  padding: 20px;
  top: 150px;
  z-index:  2;
  /* margin-left: 30px; */
}
@media screen and (min-width: 250px) and (max-width: 500px) {
  /* mobile view */

  .add_new_task{
      display: none;
    }
    .add_new_task_container{
      /* margin-left:auto;  */
      /* margin-right:50%;  */
      /* right: 0%; */
      margin-left: 138px;
        margin-right: 130px;
    }
    .card3{
      margin-left: 0px;
    }

    .heading_container{
      margin-left: 0px;
    }

    .card_container{
      justify-content: center;
      gap:20px
    }
  .card6_container{
    display: block;
  }
    .blackout{
      height: 200vh;
    }


    .popup_card{
      width: 300px;
      height: 200px;
      /* left: 0px; */
      left: 5%;
    }
    }

